<template>
  <div id="trade-view">
  </div>
</template>

<script>
import { widget as TvWidget } from "../../../static/tradeview/charting_library/charting_library.min.js";
import socket from "./datafeeds/socket.js";
import datafeeds from "./datafeeds/datafees.js";

let onceFlag = true;
export default {
  data() {
    return {
      widget: null,
      socket: new socket(),
      datafeeds: new datafeeds(this),
      symbol: null,
      interval: null,
      cacheData: {},
      lastTime: null,
      getBarTimer: null,
      isLoading: true
    };
  },
  created() {
    console.log("0-001");
    this.socket.doOpen();
    this.socket.on("open", () => {
      this.socket.send({
        cmd: "req",
        args: [`candle.M5.btcusdt}`, 2880, parseInt(Date.now() / 1000)]
      });
    });
    this.socket.on("message", this.onMessage);
  },
  methods: {
    init(symbol = "BTCUSDT", interval = 5) {
      console.log("0-002");
      if (!this.widget) {
        this.widget = new TvWidget({
          symbol: symbol,
          interval: interval,
          // fullscreen: true,
          container_id: "trade-view",
          datafeed: this.datafeeds,
          library_path: "/static/tradeview/charting_library/",
          disabled_features: ["header_symbol_search"],
          enabled_features: [],
          timezone: "Asia/Tokyo",
          locale: "en",
          debug: false
        });
        this.symbol = symbol;
        this.interval = interval;
      }
    },
    requestAjax(endpoint, callback) {
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          callback(this.response);
        }
      };
      xhr.responseType = "json";
      xhr.open("GET", endpoint, true);
      xhr.send();
    },
    sendMessage(data) {
      console.log("0-003");
      if (this.socket.checkOpen()) {
        this.socket.send(data);
      } else {
        this.socket.on("open", () => {
          this.socket.send(data);
        });
      }
    },
    unSubscribe(interval) {
      if (interval < 60) {
        this.sendMessage({
          cmd: "unsub",
          args: [
            `candle.M${interval}.${this.symbol.toLowerCase()}`,
            2880,
            parseInt(Date.now() / 1000)
          ]
        });
      } else if (interval >= 60) {
        this.sendMessage({
          cmd: "unsub",
          args: [
            `candle.H${interval / 60}.${this.symbol.toLowerCase()}`,
            2880,
            parseInt(Date.now() / 1000)
          ]
        });
      } else {
        this.sendMessage({
          cmd: "unsub",
          args: [
            `candle.D1.${this.symbol.toLowerCase()}`,
            2880,
            parseInt(Date.now() / 1000)
          ]
        });
      }
    },
    subscribe() {
      console.log("0-004");
      if (this.interval < 60) {
        this.sendMessage({
          cmd: "sub",
          args: [`candle.M${this.interval}.${this.symbol.toLowerCase()}`]
        });
      } else if (this.interval >= 60) {
        this.sendMessage({
          cmd: "sub",
          args: [`candle.H${this.interval / 60}.${this.symbol.toLowerCase()}`]
        });
      } else {
        this.sendMessage({
          cmd: "sub",
          args: [`candle.D1.${this.symbol.toLowerCase()}`]
        });
      }
    },
    convertUnixTime(stringDate) {
      let date = Date.parse(
        stringDate.substr(0, 4) +
          "/" +
          stringDate.substr(4, 2) +
          "/" +
          stringDate.substr(6, 2) +
          " " +
          // this.convertHour(stringDate.substr(8, 2)) +
          stringDate.substr(8, 2) +
          ":" +
          stringDate.substr(10, 2) +
          ":" +
          "00"
      );
      //2018/09/21 0730
      //2009/08/11 08:14:45
      if (isNaN(date)) {
        debugger;
      }
      return date;
    },
    convertUnixTime2(stringDate) {
      //2018-10-10T01:00:08.030Z
      let date = Date.parse(
        stringDate.substr(0, 4) +
          "/" +
          stringDate.substr(5, 2) +
          "/" +
          stringDate.substr(8, 2) +
          " " +
          this.convertHour(stringDate.substr(11, 2)) +
          ":" +
          stringDate.substr(14, 2) +
          ":" +
          "00"
      );
      //2018/09/21 0730
      //2009/08/11 08:14:45
      if (isNaN(date)) {
        debugger;
      }
      return date;
    },
    convertHour(stringHour) {
      let hour = parseInt(stringHour, 10) + 9;
      if (hour > 24) {
        hour = hour - 24;
      }
      if (hour == 24) {
        return "00";
      }
      if (hour > 9) {
        return hour.toString(10);
      } else {
        return "0" + hour.toString(10);
      }
    },
    onMessage(data) {
      let own = this;
      console.log("0-005");
      if (onceFlag) {
        onceFlag = false;
        this.requestAjax(
          "https://localhost:8080/api/v1/exchange/charts/10001/ohlc?chart_type=2&limit=1000",
          function(res) {
            const list = [];
            const ticker = `${own.symbol}-${own.interval}`;
            res.data.forEach(element => {
              list.push({
                time: own.convertUnixTime(element.datetime),
                open: parseInt(element.open, 10),
                high: parseInt(element.high, 10),
                low: parseInt(element.low, 10),
                close: parseInt(element.close, 10),
                volume: 0
              });
            }, own);
            //timeはこの辺を想定　1538639700000
            //17145287000
            own.cacheData[ticker] = list;
            own.lastTime = list[list.length - 1].time;
            own.subscribe();
          }
        );
        //end
      } else {
        console.log("1回目以降");
        let random = 0;
        //  let random = Math.round(Math.random() * 1000);

        // console.log(' >> sub:', data.type)
        this.datafeeds.barsUpdater.updateData();
        const ticker = `${this.symbol}-${this.interval}`;
        if (data.ticker) {
          console.log("data.ticker.id=" + data.ticker.id);
          const barsData = {
            time: this.convertUnixTime2(data.ticker.timestamp),
            open: parseInt(data.ticker.last, 10) + random,
            high: parseInt(data.ticker.last, 10) + random,
            low: parseInt(data.ticker.last, 10) + random,
            close: parseInt(data.ticker.last, 10) + random,
            volume: 0
          };
          if (
            barsData.time >= this.lastTime &&
            this.cacheData[ticker] &&
            this.cacheData[ticker].length
          ) {
            this.cacheData[ticker][
              this.cacheData[ticker].length - 1
            ] = barsData;
          }
        }
      }
    },
    getBars(
      symbolInfo,
      resolution,
      rangeStartDate,
      rangeEndDate,
      onLoadedCallback
    ) {
      // console.log(' >> :', rangeStartDate, rangeEndDate)
      if (this.interval !== resolution) {
        this.unSubscribe(this.interval);
        this.interval = resolution;
        if (resolution < 60) {
          this.sendMessage({
            cmd: "req",
            args: [
              `candle.M${this.interval}.${this.symbol.toLowerCase()}`,
              2880,
              parseInt(Date.now() / 1000)
            ]
          });
        } else if (resolution >= 60) {
          this.sendMessage({
            cmd: "req",
            args: [
              `candle.H${this.interval / 60}.${this.symbol.toLowerCase()}`,
              2880,
              parseInt(Date.now() / 1000)
            ]
          });
        } else {
          this.sendMessage({
            cmd: "req",
            args: [
              `candle.D1.${this.symbol.toLowerCase()}`,
              800,
              parseInt(Date.now() / 1000)
            ]
          });
        }
      }
      const ticker = `${this.symbol}-${this.interval}`;
      if (this.cacheData[ticker] && this.cacheData[ticker].length) {
        this.isLoading = false;
        const newBars = [];
        this.cacheData[ticker].forEach(item => {
          if (
            item.time >= rangeStartDate * 1000 &&
            item.time <= rangeEndDate * 1000
          ) {
            newBars.push(item);
          }
        });
        onLoadedCallback(newBars);
      } else {
        const self = this;
        this.getBarTimer = setTimeout(function() {
          self.getBars(
            symbolInfo,
            resolution,
            rangeStartDate,
            rangeEndDate,
            onLoadedCallback
          );
        }, 10);
      }
    }
  }
};
</script>

